
  
  .note-title-display {
    
    color: #333333; /* dark grey text */
    font-size: 24px; /* larger text for the title */
    font-weight: bold; /* make title bold */

  
  }
  
  .note-content-display {
  
    font-size: 16px; /* default text size for content */
    color: #666666; /* grey text */
  
  }
  .note-date{
    border-bottom: 1px solid #ddd;
    width: 100%;

  }
  .note-folder{
    border-bottom: 1px solid #ddd;
  }

  .first-row-note {

    display: flex; /* Use flexbox for layout */
  
    justify-content: space-between; /* Place content at start and end of container */
    border-bottom: 1px solid #ddd;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* space below the title */
    padding: 10px; /* Add some padding around the content if desired */
  
  }
  
  .note-title {
  
    /* Add any styles specific to the title here (example: font size, weight or color) */
    
    margin: 0; /* Remove default margin of h1 element if desired */
  
  }
   
  .two-btn button {
  
    margin-left: 10px; /* Add space between buttons */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px;
    /* Additional button styles if needed */
  
  }
.two-btn{
  display: flex;
}
.two-btn button{
  cursor: pointer;
  background-color: #14213D ;
  color: #fff;
}
.two-btn button:hover{
  background-color: #ffc972;
}
  .note-title-input {

    width: 100%; /* Full width */
    font-size: 1.5rem; /* Large text size for title */
    font-weight: bold; /* Bold font weight for title */
    padding: 0.5rem; /* Some padding inside the input */
    border-radius: 4px; /* Round corners */

    background: none;
  
  }
  
  .note-content-input {
  
    width: 100%; /* Full width */
  
    height: 300px; /* Fixed height, adjust as necessary */
  
    font-size: 1rem; /* Regular text size for content */
  

    border: 1px solid #ccc; /* Light grey border */
  
    border-radius: 4px; /* Round corners */
  
    resize: vertical; /* Allow vertical resizing only */
  
  }
  

  
  /* Additional styling */
  
  .note-date {
  
    color: #666; /* Grey color for date */
  
    font-size: 1.2rem; /* Smaller font size for date */
  
    margin-top: 0.5rem;
  
  }
  

  .display-box {

    display: flex;
  
    position: relative; /* If you use absolute positioning inside */
    width: 80%;
    height: 100%; /* Or whatever height you want */
  
    /* other styling as needed */
  
  }
  .note-placeholder {

    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    text-align: center;
    width: 100%;
    height: 100%; /* Or you could set a fixed height, e.g., 200px */
    font-size: 2.5rem;
  }
  .note-icon{
    width: 80px;
    margin-right: 10px;
  }