


  .logout {
    position: absolute;
    padding: 2.5rem;
    width: 100%;
    bottom: 0;
    left: 15px;

  }
  .logout button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px ;
    border: 1px solid #030303;
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
  .logout button:hover{
    background-color: #ddd;
  }

  .first-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding: 0;
  }
  .first-row button {
    margin-left: 10px;

    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 1px;
    background-color: #14213D ;
    color: #fff;
    cursor: pointer;
  }
  .first-row button:hover{
    background-color: #ffc972;
  }
  /* Sidebar content */
  
  .Sidebar a {
  
    padding: 6px 8px 6px 16px;
  
    text-decoration: none;
  
    font-size: 18px;
  
    color: #818181;
  
    display: inline-block;
  
    transition: 0.3s;
    
  }
  
  /* Links on mouse-over */
  
  .Sidebar a:hover {
  
    color: #f1f1f1;
  
  }
  
  
  

  
  

  .Logo img{
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-right: 10px;
  }
  .Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
   
  }

  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    color: #818181;
    font-weight: 400;
  }

ul {
  list-style: none;
  padding: 0;
  
}  

.folder.active{
  background-color: #ffc972;
}
.folder:hover{
  background-color: #fff;
}
.folder-icon{
  margin-right: 1rem;
}
.folder label{
  padding: 0;
}




.folder-name {

  /* Your styles for folder name */

  flex: 1;

  margin-left: 10px;

}

.folder {

  display: flex;

  justify-content: space-between;

  align-items: center;

  position: relative; /* Ensures dropdown is positioned relative to this element */

  padding: 5px 10px;

  border-bottom: 1px solid #ddd; /* Add a border to separate items */

}
.dropdown-btn {

  /* your existing styles */
  cursor: pointer;
  border: none;
  background: none;
  padding: 4px;
  margin-left: auto; /* align to the right side */

}

/* Style for the dropdown menu */
.menu {
  position: absolute;
  top: 100%; /* Position it just below the folder li */
  right: 0;  /* Align it to the right of the folder li */
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Style for individual dropdown menu items */

.menu-item {

  padding: 8px 16px;

  border-bottom: 1px solid #d0d0d0;

}

.menu-item:last-child {

  border-bottom: none;

}

/* Menu item button style */

.menu-item button {

  background: none;

  border: none;

  padding: 0;

  width: 100%;

  text-align: left;

  font-size: 16px;

  cursor: pointer;

}

/* Menu item hover effect */

.menu-item:hover {

  background-color: #f0f0f0;

}